<h1>Add Your Contact</h1>
<form action="/contacts" method="post">
  <div class="form-group">
    <label for="first">Enter your First Name</label>
    <input type="text" name="first" id="first" value="" class="form-control">
  </div>
  <div class="form-group">
    <label for="last">Enter your Last Name</label>
    <input type="text" name="last" id="last" value="" class="form-control">
  </div>
  <div class="form-group">
    <label for="title">Enter your Title</label>
    <input type="text" name="title" id="title" value="" class="form-control">
  </div>
  <div class="form-group">
    <label for="company">Enter your Company Name</label>
    <input type="text" name="company" id="company" value="" class="form-control">
  </div>
  <button type="submit" name="submit">Add Contact</button>
  <a href="/"><button class="btn-warning" type="button" name="back">Go Back</button></a>
</form>
